.folder-container {
	margin: 5px 0 5px;
}

.child-container {
	margin-left: 15px;
}

.folder-name {
	margin-left: 5px;
}

.caret-icon {
	margin-right: 5px;
}

.hide-child-container {
	display: none;
}

.show-child-container {
	display: block;
}
